<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}?v=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
</head>
<body>
    <h1>Password Generator!</h1>

    <!-- Password Generator Form -->
    <form method="POST" action="/password_generator">
        <label for="pass_len">Enter password length (Must be at least 10):</label>
        <input type="number" name="pass_len" id="pass_len" min="10" required>
        <br>
        <input type="submit" value="Generate Password">
    </form>
    {% if password %}
        <h3>Password Generator Result:</h3>
        <p>{{ password }}</p>
    {% endif %}

    <a href="/">Back to Home</a>
</body>
</html>
